/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}



/* -------------------------------------------------------------
      Body
-------------------------------------------------------------*/

html {
	background-image: url("../images/large_image.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	// border-left: 10px solid #fff;
	// border-right: 10px solid #fff;
	// border-top: 10px solid #fff;
	height: 100%;

}
body {
	background-color: rgba(#3979c6, 0.4);
	height: 100%;
	color: #333;
}

.container {
	width: auto;
	height: 100%;
}

	h1 {
		font-family: sans-serif;
    	font-size: 35px;
    	font-weight: 100;
    	color: #333;
		line-height: 1.25;
		margin: 0 0 30px 0;
	}

	h2 {
		font-family: sans-serif;
		font-size: 25px;
		color: #113344;
		line-height: 1.25;
		margin: 0 0 40px 0;
	}

	h3 {
		font-family: sans-serif;
		font-size: 20px;
		color: #113344;
		line-height: 1.25;
		margin: 0 0 40px 0;
	}

	p {
		font-family: serif;
		font-size: 18px;
		color: #444;
		line-height: 25px;
		margin: 0 0 20px 0;
		font-weight: 300;
	}

.box {
	width: 350px;
	height:93%;
	background-color: rgba(#fff, 0.85);
	margin: 0 auto;
	float:left; 
	padding: 50px 40px 0 40px;

	&:after {
		content: "."; 
		visibility: hidden; 
		display: block; 
		height: 0; 
		clear: both;
	}

	.profileimage {
		margin-bottom: 40px;
		display: block;
		width: 93%;
	}
}



.block {
	width: 210px;
	height: 300px;
	background-color: #fff;
	margin: 14px;
	border: 1px solid #1177aa;
	border-radius: 3px;
	float: right;
	position: relative;
	background-image: url("../images/cat.png");
	background-size: 105%;
	background-position: top center;
	background-repeat: no-repeat;

	.blockinfo {
		width: 100%;
		background: #fff;
		border-top: 1px solid #333;
		display: block;
		position: absolute;
		bottom: 0;
		border-radius: 0 0 3px 3px;

		img {
			width:100%;

		}

		p {
			padding: 20px 5% 0 5%;
		}
	}
}




















